html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  background-image: url('../images/bg-image/bg-image-light.jpg');
  color: $text-color;
  font-family: $main-font;
  font-size: $main-fontsize;
  line-height: 1.33;
}

button {
  cursor: pointer;
}

body.backdrop-open {
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
