.footer {
  color: $footer-text-color;
  background-color: $footer-bg-color;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.14;

  @media screen and(min-width:$min-tablet) {
    font-size: 16px;
    line-height: 1.19;
  }
}
.footer__container {
  @media screen and(min-width:$min-tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer__icon {
  margin-right: 10px;
  margin-left: 10px;
}
.footer__copyright {
  @media screen and(max-width:$max-mobile) {
    margin-bottom: 10px;
  }
}
.footer__authors {
  display: inline-flex;
  align-items: center;

  @media screen and(min-width:$min-tablet) {
    margin-left: 4px;
  }
}
.footer__link {
  color: inherit;
  transition: color $time $cubic, transform $time $cubic;

  &:hover {
    color: $accent-color;
    transform: scale(1.05);
  }
}
.animate__heartBeat {
  animation-iteration-count: infinite;
}

// fixed footer at the page bottom
html, 
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}