<button type='button' class='lightbox__button-close' aria-label='Close trailer menu'>
  <svg class='button-close__icon' width='18' height='18'>
    <use href='../images/svg/close.svg'></use>
  </svg>
</button>