<h2 class='trailer-title'>{{name}}</h2>
<div class='trailer-container'>
  <iframe
    class='responsive-iframe'
    width='560'
    height='315'
    src='https://www.youtube.com/embed/{{id}}'
    title='YouTube video player'
    frameborder='0'
    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
    allowfullscreen
  >
  </iframe>
</div>