// Named colors
$white: #ffffff;
$white-smoke: #f6f4f3;
$green: #008000;
$red: #ef2f3c;
$blue: #276fbf;
$dark: #183059;
$yellow: #f0a202;
$youtube: #c4302b;
$dark-grey: #333333;
// Text colors
$text-color: #000000;
$accent-color: #ff6b08;
$footer-text-color: #545454;
$footer-bg-color: #f7f7f7;
//Notification colors
$warning-color: #ff001b;
// Icon colors
$icon-color: #818181;
// Slider colors
$slider-title-color: #818181;
$slider-text-shadow: rgba(0, 0, 0, 0.3);
$slider-dots-color: #818181;
$slider-dots-bg-color: #f6f4f3;
$slider-active-dot-border-color: #818181;
$slider-active-dot-bg-color: #ff6b08;
$slider-button-youtube-bg-color: rgba(255, 255, 255, 0.8);
$slider-arrows-box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 10%);
// Backdrop Colors
$backdrop-bg-color: rgba(0, 0, 0, 0.25);
