// Fonts
$mainFont: 'Roboto', sans-serif;
$mainFontSize: 12px;

// Colors
$white: #ffffff;
$textColor: #000000;
$accentColor: #ff6b08;
$footerTextColor: #545454;
$footerBgColor: #F7F7F7;
$warningColor: #FF001B;
$iconColor: #818181;

// Screen-sizes
$min-mobile: 320px;
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1023px;
$min-desktop: 1024px;

// Transition
$time: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);

