<header class="header header-home">
  <div class="theme-switch">
    <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
      <use href="./images/sprite.svg#sun"></use>
    </svg>

    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой"
      />
      <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>

    <svg class="theme-switch__icon" aria-label="Иконка луны">
      <use href="./images/sprite.svg#moon"></use>
    </svg>
  </div>

  <div class="container header__container">
    <nav class="header__nav">
      <a class="logo link" href="./index.html">
        <svg
          width="24"
          height="24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          id="logo"
          class="logo__icon lazy-line-painter"
        >
          <path
            d="M19.82 2H4.18A2.18 2.18 0 002 4.18v15.64A2.18 2.18 0 004.18 22h15.64A2.18 2.18 0 0022 19.82V4.18A2.18 2.18 0 0019.82 2zM7 2v20M17 2v20M2 12h20M2 7h5M2 17h5M17 17h5M17 7h5"
            data-llp-duration="2000"
            fill-opacity="0"
          />
        </svg>

        <span class="logo__label">Filmoteka</span>
        <h1 class="header__title visually-hidden">Movie library</h1>
      </a>

      <ul class="nav-list list">
        <li class="nav-list__item">
          <a href="./index.html" class="nav-list__link home-button link nav-list__link_current"
            >Home</a
          >
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link library-button link">My library</a>
        </li>
      </ul>
    </nav>

    <form class="search-form search-form-js">
      <input
        class="search-form__input"
        type="text"
        name="moviequery"
        placeholder="Movies search"
        autocomplete="off"
      />
      <button class="search-form__btn js-search-btn" type="submit">
        <svg class="search-form__icon" width="16" height="16">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <ul class="button-list list visually-hidden">
      <li class="button-list__item">
        <button class="button button--mod watched-js" type="button">Watched</button>
      </li>
      <li class="button-list__item">
        <button class="button button--mod queue-js" type="button">Queue</button>
      </li>
    </ul>

    <div class="modal-library">
      <div class="modal-library-content">
        <div class="modal-library-header">
          <span class="close"></span>
        </div>
      </div>
    </div>
  </div>
</header>
