<div class="backdrop is-hidden js-footer">
  <ul class="team list">
    <li class="team_card">
      <div class="img-wrapper">
        <img class="team_img" src="./images/team-photos/masha.jpg" alt="Mariia" />
      </div>
      <p class="team_name">Mariia</p>
      <p class="team_position">Team Lead</p>
      <a class="team_git-link" href="https://github.com/MariaShebeko" target="_blank"
        ><svg class="team_git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team_card">
      <div class="img-wrapper">
        <img class="team_img" src="./images/imgonline-com-ua-Resize-1QpJKqfVU81x.jpg" alt="Yulia" />
      </div>
      <p class="team_name">Yulia</p>
      <p class="team_position">Scrum Master</p>
      <a class="team_git-link" href="https://github.com/YuliaTsveleva" target="_blank"
        ><svg class="team_git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team_card">
      <div class="img-wrapper">
        <img class="team_img" src="./images/imgonline-com-ua-Resize-1QpJKqfVU81x.jpg" alt="Anna" />
      </div>
      <p class="team_name">Anna</p>
      <p class="team_position">Developer</p>
      <a class="team_git-link" href="https://github.com/AnnaKireyeva" target="_blank"
        ><svg class="team_git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team_card">
      <div class="img-wrapper">
        <img class="team_img" src="./images/imgonline-com-ua-Resize-1QpJKqfVU81x.jpg" alt="Anna" />
      </div>
      <p class="team_name">Anna</p>
      <p class="team_position">Developer</p>
      <a class="team_git-link" href="https://github.com/AnnaGajic" target="_blank"
        ><svg class="team_git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team_card">
      <div class="img-wrapper">
        <img class="team_img" src="./images/team-photos/bogdan.jpg" alt="Bohdan" />
      </div>
      <p class="team_name">Bogdan</p>
      <p class="team_position">Developer</p>
      <a class="team_git-link" href="https://github.com/Bogdan-Kasyanchuk " target="_blank"
        ><svg class="team_git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team_card">
      <div class="img-wrapper">
        <img class="team_img" src="./images/team-photos/tolik.jpg" alt="Anatolii" />
      </div>
      <p class="team_name">Anatoliy</p>
      <p class="team_position">Developer</p>
      <a class="team_git-link" href="https://github.com/Fosa1990" target="_blank"
        ><svg class="team_git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team_card">
      <div class="img-wrapper">
        <img
          class="team_img"
          src="./images/imgonline-com-ua-Resize-1QpJKqfVU81x.jpg"
          alt="Alexey"
        />
      </div>
      <p class="team_name">Alexey</p>
      <p class="team_position">Developer</p>
      <a class="team_git-link" href="https://github.com/AlexeyZyukov" target="_blank"
        ><svg class="team_git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team_card">
      <div class="img-wrapper">
        <img
          class="team_img"
          src="./images/imgonline-com-ua-Resize-1QpJKqfVU81x.jpg"
          alt="Serhii"
        />
      </div>
      <p class="team_name">Serhii</p>
      <p class="team_position">Developer</p>
      <a class="team_git-link" href="https://github.com/serhiikondratiuk" target="_blank"
        ><svg class="team_git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
