<div class="backdrop is-hidden" id="footer-backdrop">
  <ul class="team list">
    <li class="team__card">
      <div class="img-wrapper">
        <img class="team__img" src="./images/team-photos/masha.jpg" loading="lazy" alt="Mariia" />
      </div>
      <p class="team__name">Maria</p>
      <p class="team__position">Team Lead</p>
      <a class="team__git-link" href="https://github.com/MariaShebeko" target="_blank"
        ><svg class="team__git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team__card">
      <div class="img-wrapper">
        <img class="team__img" src="./images/team-photos/Yulia.jpg" loading="lazy" alt="Yulia" />
      </div>
      <p class="team__name">Yulia</p>
      <p class="team__position">Scrum Master</p>
      <a class="team__git-link" href="https://github.com/YuliaTsveleva" target="_blank"
        ><svg class="team__git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team__card">
      <div class="img-wrapper">
        <img
          class="team__img"
          src="./images/team-photos/anna-kireeva.jpg"
          loading="lazy"
          alt="Anna"
        />
      </div>
      <p class="team__name">Anna</p>
      <p class="team__position">Developer</p>
      <a class="team__git-link" href="https://github.com/AnnaKireyeva" target="_blank"
        ><svg class="team__git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team__card">
      <div class="img-wrapper">
        <img
          class="team__img"
          src="./images/team-photos/anna-gajic.jpg"
          loading="lazy"
          alt="Anna"
        />
      </div>
      <p class="team__name">Anna</p>
      <p class="team__position">Developer</p>
      <a class="team__git-link" href="https://github.com/AnnaGajic" target="_blank"
        ><svg class="team__git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team__card">
      <div class="img-wrapper">
        <img class="team__img" src="./images/team-photos/bogdan.jpg" loading="lazy" alt="Bohdan" />
      </div>
      <p class="team__name">Bogdan</p>
      <p class="team__position">Developer</p>
      <a class="team__git-link" href="https://github.com/Bogdan-Kasyanchuk " target="_blank"
        ><svg class="team__git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team__card">
      <div class="img-wrapper">
        <img class="team__img" src="./images/team-photos/tolik.jpg" loading="lazy" alt="Anatolii" />
      </div>
      <p class="team__name">Anatoliy</p>
      <p class="team__position">Developer</p>
      <a class="team__git-link" href="https://github.com/Fosa1990" target="_blank"
        ><svg class="team__git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team__card">
      <div class="img-wrapper">
        <img class="team__img" src="./images/team-photos/alexey.jpg" loading="lazy" alt="Alexey" />
      </div>
      <p class="team__name">Alexey</p>
      <p class="team__position">Developer</p>
      <a class="team__git-link" href="https://github.com/AlexeyZyukov" target="_blank"
        ><svg class="team__git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="team__card">
      <div class="img-wrapper">
        <img class="team__img" src="./images/team-photos/sergey.jpg" loading="lazy" alt="Serhii" />
      </div>
      <p class="team__name">Serhii</p>
      <p class="team__position">Developer</p>
      <a class="team__git-link" href="https://github.com/serhiikondratiuk" target="_blank"
        ><svg class="team__git-icon">
          <use href="./images/sprite.svg#github"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
