.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop-bg-color;
  pointer-events: initial;
  overflow-y: scroll;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: $cubic;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
