.button-close {
  padding: 7px;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.modal-film__button-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-close__icon {
  stroke: $text-color;
  transition-property: stroke, transform;
  transition-duration: $time;
  transition-timing-function: $cubic;

  .button-close:hover > &,
  .button-close:focus > & {
    stroke: $accent-color;
    transform: scale(1.2);
  }
}

// black theme

body.dark-theme {
  & .button-close__icon--theme {
    stroke: $white;
  }
}
