.button-up {
  position: fixed;
  z-index: 10;
  bottom: 40px;
  right: 10px;
  cursor: pointer;
  fill: $icon-color;

  &:hover,
  &:focus {
    fill: $accent-color;
    transition: fill $time $cubic;
  }

  @media screen and (min-width: $min-mobile) {
    bottom: 141px;
    right: calc(((100vw - 320px) / 2));
  }
  @media screen and (min-width: $min-tablet) {
    bottom: 74px;
    right: calc(((100vw - 768px) / 2));
  }
  @media screen and (min-width: $min-desktop) {
    right: calc(((100vw - 1024px) / 2));
  }
}

.button-up__icon {
  width: 40px;
  height: 40px;

  @media screen and (min-width: $min-tablet) {
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: $min-desktop) {
    width: 60px;
    height: 60px;
  }
}
