.filter-btn {
  padding: 5px;

  @media screen and(max-width:$max-mobile) {
    width: 200px;
  }

  @media screen and(min-width:$min-tablet) {
    max-width: 100px;
  }
}

.filter-btn:not(:last-child) {
  @media screen and(max-width:$min-tablet) {
    margin-bottom: 5px;
  }

  @media screen and(min-width:$min-tablet) {
    margin-right: 10px;
  }
}
.filter-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;

  @media screen and(max-width:$max-mobile) {
    flex-direction: column;
    align-items: center;
  }
}
