.team {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 251px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $team-bg-color;

  @media screen and(min-width:$min-tablet) {
    width: 600px;
  }

  @media screen and(min-width:$min-desktop) {
    width: 800px;
  }
}

.team__card {
  margin: 10px;
  position: relative;
  text-align: center;
  flex-basis: calc((100% - 60px) / 2);

  @media screen and(min-width:$min-tablet) {
    flex-basis: calc((100% - 90px) / 4);
  }

  @media screen and(min-width:$min-desktop) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.img-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.team__img {
  border-radius: 50%;
  box-shadow: 5px 5px 11px -2px $team-thumb-shadow-light;
}

.team__git-link {
  display: flex;
  position: absolute;
  bottom: 27px;
  right: 0px;
  width: 14px;
  height: 14px;

  transition: transform $time $cubic;

  &:hover,
  &:focus {
    transform: scale(1.5);
  }

  @media screen and(min-width:$min-tablet) {
    top: 95px;
    right: 0px;
    width: 24px;
    height: 24px;
  }

  @media screen and(min-width:$min-desktop) {
    top: 115px;
    right: 15px;
  }
}

.team__position {
  color: $accent-color;
}

.team__name,
.team__position {
  font-size: 12px;

  @media screen and(min-width:$min-tablet) {
    font-size: 18px;
    font-weight: 500;
  }

  @media screen and(min-width:$min-desktop) {
    font-size: 24px;
  }
}

#footer-backdrop {
  transition: opacity 500ms $cubic, visibility 500ms $cubic, transform 500ms $cubic;
  transform: scale(1);
}

#footer-backdrop.is-hidden {
  transform: scale(1.1);
}
