// =================================================
// ----- ВРЕМЕННО -----
img {
  width: 240px;
  height: 357px;
  background-color: rgb(211, 145, 133);
}
// =================================================

.modal-film {
  position: relative;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $white;
}

.modal-film__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

.modal-film__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
}

.modal-film__table {
  margin-bottom: 20px;
  width: 100%;
}

.modal-film__table-tr {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 1.6;
}

.modal-film__table-td {
  &:first-child {
    color: #8c8c8c;
  }
}

.modal-film__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: $main-fontsize;
  text-transform: uppercase;
}

.modal-film__text {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.67;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list__item {
  width: 113px;
  height: 44px;
  &:first-child {
    margin-right: 15px;
  }
}
