.btn-no-border {
  border: initial !important;
}

.dark-theme .tui-pagination a,
.dark-theme .tui-pagination span {
  color: white !important;
  :hover {
    color: black !important;
  }
}

.tui-pagination {
  > span:nth-last-child(-n + 7) {
    display: none !important;
  }
  > span:nth-last-child(-n + 3) {
    display: inline-block !important;
  }
  > span:nth-last-child(n + 7) {
    display: inline-block !important;
  }
}

// .tui-pagination > span:nth-last-child(-n + 7) {
//   display: none !important;
// }

// .tui-pagination > span:nth-last-child(-n + 3) {
//   display: inline-block !important;
// }

// .tui-pagination > span:nth-last-child(n + 7) {
//   display: inline-block !important;
// }

.tui-next-is-ellip,
.tui-prev-is-ellip {
  display: none !important;
}

// .tui-prev > .tui-ico-prev {
//   background-position: -26px 0px !important;
// }
// .tui-first > .tui-ico-first {
//   background-position: 0px 0px !important;
// }

.dark-theme {
  .tui-pagination {
    .tui-next-is-ellip,
    .tui-prev-is-ellip {
      display: none;
    }
    .tui-next:hover > .tui-ico-next {
      background-position: -13px -24px;
    }
    .tui-ico-next {
      background-position: -21px -24px;
      :hover {
        background-position: -13px -24px;
      }
    }
    .tui-ico-last {
      background-position: -13px -12px;
    }
    .tui-last:hover > .tui-ico-last {
      background-position: 0px -12px;
    }
    .tui-ico-first {
      background-position: -13px 0px;
      :hover {
        background-position: 0px 0px;
      }
    }
    .tui-ico-prev {
      background-position: -26px -12px;
      :hover {
        background-position: -26px 0px;
      }
    }
    .tui-prev:hover > .tui-ico-prev {
      background-position: -26px 0px;
    }
    .tui-first:hover > .tui-ico-first {
      background-position: 0px 0px;
    }
  }
}

// .dark-theme .tui-pagination .tui-ico-next {
//   background-position: -21px -24px;
//   :hover {
//     background-position: -26px 0px;
//   }
// }
// .dark-theme .tui-pagination .tui-ico-last {
//   background-position: -13px -12px;
// }
// .dark-theme .tui-pagination .tui-ico-last,
// .dark-theme .tui-pagination .tui-ico-next {
//   background-position: -26px -12px !important;
// }
// .dark-theme .tui-pagination .tui-last {
//   background-position: -26px -12px !important;
// }

@media screen and (min-width: 1023px) {
  .tui-pagination > span:nth-last-child(n + 5) {
    display: inline-block !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tui-pagination > span:nth-last-child(n + 5) {
    display: inline-block !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .tui-pagination > span:nth-last-child(-n + 6) {
    display: none !important;
  }
}

@media screen and (max-width: 320px) {
  .tui-pagination > span:nth-last-child(-n + 7) {
    display: none !important;
  }
  .tui-last,
  .tui-first {
    display: none !important;
  }
}
