// from trailler
.btn-youtube {
  position: absolute;
  z-index: 1;
  width: 275px;
  height: 30px;
  margin-left: 1px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  outline: none;
  background-image: url(../images/svg/icon-youtube.svg);
  background-color: initial;
}

.btn-youtube__overlay {
  position: absolute;
  top: 5px;
  left: 75px;
  z-index: 2;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 19px;
  width: 70px;

  pointer-events: none;
  font-family: $main-font;
  background-color: $slider-button-youtube-bg-color;
  border-radius: 5px;

  transform: translateX(-63%);
  transition: transform $time $cubic, opacity $time $cubic, display $time $cubic,
    background-color $time $cubic;
}

.slider__item:hover .btn-youtube__overlay {
  display: flex;
  opacity: 1;
  transform: translateX(-65%);
}

.btn-youtube__title-trailer {
  position: absolute;
  font-family: $main-font;
  font-size: 16px;
  color: $youtube;
  cursor: pointer;
  margin: 0;
  z-index: 5;
  transition: color $time $cubic;
}

// Gallery styles for youtube button
.gallery-item .btn-youtube__overlay {
  left: 190px;
  height: 25px;
  width: 230px;
}

.gallery-item:hover .btn-youtube__overlay {
  display: flex;
  opacity: 1;
  transform: translateX(-65%);
}

.gallery-item:hover .btn-youtube {
  height: 50px;
}
