.gallery_trending,
.gallery_library {
  display: grid;
  grid-template-columns: 274px 274px 274px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.movie_image {
  width: 274px;
  height: 398px;
  margin-bottom: 10px;
}

.movie_name {
  display: block;
  text-transform: uppercase;
}

.movie_genres {
  display: inline-block;
  font: $main-font;
  color: $accent-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.movie_release {
  display: inline-block;
  font: $main-font;
  color: $accent-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movie_release::before {
  content: '';
  width: 1px;
  height: 10px;
  border: 1px solid $accent-color;
  background-color: $accent-color;
  margin-right: 5px;
  margin-left: 5px;
}
