.gallery {
  padding-top: 60px;
}

.trending,
.library {
  display: grid;
  justify-content: center;

  @media screen and (min-width: $min-mobile) and (max-width: $max-mobile) {
    grid-template-columns: 280px;
    grid-row-gap: 30px;
  }
  @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    grid-template-columns: 293px 293px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  @media screen and (min-width: $min-desktop) {
    grid-template-columns: 274px 274px 274px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.gallery-item {
  border-radius: 5px;
  cursor: pointer;
  transition: transform $time $cubic;
}
body.dark-theme .gallery-item:hover,
body.dark-theme .gallery-item:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px -2px $team-thumb-shadow-light;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px -2px $team-thumb-shadow-dark;
}

.movie__image {
  margin-bottom: 10px;
  border-radius: 5px;

  @media screen and (min-width: $min-mobile) and (max-width: $max-mobile) {
    width: 280px;
    height: 402px;
  }
  @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 293px;
    height: 398px;
  }
  @media screen and (min-width: $min-desktop) {
    width: 274px;
    height: 398px;
  }
}

.movie__name {
  display: block;
  text-transform: uppercase;
}

.movie__genres {
  display: inline-block;
  font: $main-font;
  color: $accent-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.movie__release {
  display: inline-block;
  font: $main-font;
  color: $accent-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
