.js-slider {
  min-height: 150px;
  max-height: 200px;
  overflow: hidden;

  & .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
  }

  & .slider-title {
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
    color: $slider-title-color;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 $slider-text-shadow;
    transition: color $time $cubic;
  }

  /* Slider */
  & .slick-slider {
    min-width: 0;
  }

  /* Bounding shell */
  & .slick-list {
    overflow: hidden;
  }

  /* Track */
  & .slick-track {
    display: flex;
    align-items: flex-start;
  }

  /* Hero slider */
  & .slider {
    position: relative;
  }

  & .slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    font-size: 0;
    width: 40px;
    height: 30px;

    border: 2px solid $white;
    border-radius: 5px;
    box-shadow: $slider-arrows-box-shadow;

    cursor: pointer;
    transform: translateY(-50%);
    transition: border $time $cubic, background-color $time $cubic;
  }

  & .slider .slick-arrow.slick-prev {
    left: 1rem;
    background: $accent-color url('../images/svg/sl-arrow_l--white.svg') center / 40% no-repeat;
  }

  & .slider .slick-arrow.slick-next {
    right: 1rem;
    background: $accent-color url('../images/svg/sl-arrow_r--white.svg') center / 40% no-repeat;
  }

  & .slider .slick-arrow.slick-prev:hover {
    right: 1rem;
    background: $accent-color url('../images/svg/sl-arrow_l--black.svg') center / 40% no-repeat;
  }

  & .slider .slick-arrow.slick-next:hover {
    right: 1rem;
    background: $accent-color url('../images/svg/sl-arrow_r--black.svg') center / 40% no-repeat;
  }

  & .slider .slick-arrow.slick-prev:hover,
  & .slider .slick-arrow.slick-next:hover {
    border: 2px solid $dark-grey;
  }

  & .slider .slick-arrow.slick-disabled {
    opacity: 0.2;
  }

  & .slider__item {
    position: relative;
    margin-right: 5px;
  }

  & .slider__item img {
    max-width: 100%;
    width: 100px;
    height: 150px;

    border-radius: 5px;
    cursor: grab;
  }

  & .slider__item img:active {
    cursor: grabbing;
  }

  & .slider__vote-average {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 38px;
    height: 18px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.1;
    color: $white;
    background-color: $accent-color;
    border: 1px solid $white;
    border-radius: 5px;

    pointer-events: none;
  }
}

// Dark theme styles

body.dark-theme {
  & .slider-title {
    color: $white;
  }

  & .slider .slick-arrow {
    border: 2px solid $dark-grey;
  }

  & .slider .slick-arrow.slick-prev {
    right: 1rem;
    background: $accent-color url('../images/svg/sl-arrow_l--black.svg') center / 40% no-repeat;
  }

  & .slider .slick-arrow.slick-next {
    right: 1rem;
    background: $accent-color url('../images/svg/sl-arrow_r--black.svg') center / 40% no-repeat;
  }

  & .slider .slick-arrow.slick-prev:hover {
    right: 1rem;
    background: $dark-grey url('../images/svg/sl-arrow_l--accent.svg') center / 40% no-repeat;
  }

  & .slider .slick-arrow.slick-next:hover {
    right: 1rem;
    background: $dark-grey url('../images/svg/sl-arrow_r--accent.svg') center / 40% no-repeat;
  }

  .slider .slick-arrow.slick-prev:hover,
  .slider .slick-arrow.slick-next:hover {
    border: 2px solid $accent-color;
  }

  & .btn-youtube__overlay {
    background-color: $dark-grey;
  }

  & .btn-youtube__title-trailer {
    color: $accent-color;
  }

  & .slider__vote-average {
    color: $accent-color;
    background-color: $dark-grey;
    border: 1px solid $accent-color;
  }
}
