.trailer-title {
  padding: 5px 40px;

  text-align: center;
  color: $white;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 $slider-text-shadow;
}

// 16:9 Aspect Ratio
.trailer-container {
  display: flex;
  justify-content: center;
  align-content: center;

  @media screen and (max-width: 559px) {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 300px;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
}

.responsive-iframe {
  @media screen and (max-width: 559px) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
