.trailer-title {
  padding-top: 5px;
  padding-bottom: 5px;

  text-align: center;
  color: $white;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 $slider-text-shadow;
}
